apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          
          image: ecom-microservice-user-service:latest 
          imagePullPolicy: Never 
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: DB_URL
             
              value: "postgres://user:password@postgres:5432/ecommerce_users"